<div class="flip" [ngClass]="{ 'flip--rotate': _discover }">
  <canvas #confettiCanvas class="confetti"></canvas>
  <div class="flip__inner">
    <!-- FRONT -->
    <div
      class="card-question flip__front folded folded--front"
      (click)="onFront()"
    >
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Tap to know the answer</ion-card-subtitle>
          <ion-card-title>Question</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{ view.question }}
        </ion-card-content>
      </ion-card>
    </div>

    <!-- BACK -->
    <div class="card-answer flip__back folded folded--back">
      <div class="card-answer__subtitle-box">
        <ion-card-subtitle class="card-answer__subtitle"
          >The answer is...</ion-card-subtitle
        >
        <ion-icon (click)="onFlipAgain()" name="repeat-outline"></ion-icon>
      </div>
      <ion-card-title class="card-answer__title">{{
        view.answer
      }}</ion-card-title>
    </div>
  </div>
</div>
